* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: sans-serif; */
  font-family: "Spartan", sans-serif;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.jcs {
  justify-content: space-between;
}

.align {
  align-items: center;
}

.col_22 {
  width: 22%;
}

.navbar {
  padding: 18px 0;
  background-color: #E3E6F3;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
}

ul li .link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 0 25px;
}

ul li .link:hover{
  color: #05a79c;
}

.link {
  position: relative;
}

.link::before {
  position: absolute;
  content: "";
  width: 0px;
  height: 2px;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #05a79c;
  visibility: hidden;
  transition: 0.3s ease-in-out;

}

.link:hover:before {
  visibility: visible;
  width: 100%;
}

.sec-one {
  padding: 50px 0;
}

.sec-one .first-text h3 {
  padding: 20px 0;
  font-size: 50px;
  display: block;
  color: #222;
  text-align: center;
}

.sec-one .first-text p {
  display: block;
  text-align: center;
  padding: 10px 0;
}

.sec-one .main-card {
  margin: 25px 0;
}

.card-wrapper {
  border: 1px solid rgba(0, 128, 0, 0.638);
  border-radius: 20px;
  /* padding: 2px; */
  padding: 15px;
}

.card-wrapper img {
  width: 100%;
  display: block;
  border-radius: 20px;
  margin: 0 auto;
}

.card-text {
  padding: 0 10px;
}

.card-wrapper .card-text h4 {
  opacity: 40%;
  margin: 10px 0;
}

.card-wrapper .card-text h3 {
  font-size: 20px;
}

.card-wrapper .card-text p {
  font-size: 17px;
  margin: 5px 0;
}

.card-wrapper .card-text button {
  padding: 7px 10px;
  background-color: rgba(0, 128, 0, 0.811);
  color: #fff;
  /* letter-spacing: 1px; */
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}